.text {
    border: 1px solid red;
    margin-left:50px;
    margin-top: 15px;
    display: inline-block;
}

#footer {
    border: 1px solid blue;
    height: 60px;
    margin-top:40%;
    background-color: lightgray;
}