body {
    background-color: #f6f6f6;
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    padding: 0;
}
    
/* Start of logo */
.headLogo{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    width: 300px;
    height: 300px;
    border: 20; 
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.logoText{
    font-size: 30px;
    font-weight: 400;
    line-height: 0.3em;
    font-feature-settings: "smcp";
    margin-block-end: auto;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    
}
/* End of logo */

/* Start of side bar */
.sidebar {
    max-width: 9em; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 1; /* Stay at the top */
    left: 0;
    background-color:#e0e0eb;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
    margin-top: 18.5px;
}

/* The navigation menu links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: gray;
    display: block;
}

a.sideBarHeader {
    color: black;
    font-size: 20px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 15%; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/* End of side bar */

/* Start of Nav Bar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #8fe1ff;
    background-color: #c8f0ff;
}

li {
    float: left;
    border-right: 1px solid #8fe1ff;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}

li input {
    display: block;
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
}

li a.current {
    background-color: #ffffff;
}
  
li a:hover:not(.current) {
  background-color: #aacfda;
}

.search-container {
    display: block;
    color: black;
    text-align: center;
    padding: 4px 2px;
    text-decoration: none;
}
/* End of Nav Bar */

/* Start of content */
#content {
    margin-left: 9.25em;
}

#welcome {
    font-size: 40px;
    text-align: center;
}

#welcomefree {
    font-size: small;
    text-align: center;
}
.contentbox-left {
    float: left;
    margin-right: 1px;
    max-width: 49%;
    border-style: solid;
    border-color: lightblue;
   
}
.contentbox-right {
    float: right;
    margin-left: 1px;
    max-width: 49%;
    border-style: solid;
    border-color: lightblue;
    
}
/* End of content */